@font-face {
    font-family: Lato-Bold;
    src: url('./font/Lato-Bold.tff');
}
@font-face {
    font-family: Lato-Regular;
    src: url('./font/Lato-Regular.tff');
}
@font-face {
    font-family: Lato-Light;
    src: url('./font/Lato-Light.tff');
}
html {
    background-color: #fff;
    color: #000;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.body{ overflow: hidden; }
.double-sided { -webkit-backface-visibility: visible; backface-visibility: visible; }
canvas{  position:absolute; bottom:0px; left:0px; }
.marginAuto{ margin-left: auto; margin-right: auto; }
.noMargin{ margin: 0 0 0 0; }
.opacity{ opacity: 0.5 }
.buttonRect {
    position: relative;
    width: 100%;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-family: "Lato-Regular";
}
.label{
    position: absolute;
    width: auto !important;
    font-family: "Lato-Regular";
    width: 50%;
    list-style: none;
    text-align: center !important ;
}
.label p{ margin: 0px 0px 0px 0px; }
.curColor{
    width:60%; 
    height:60%; 
    background-color: #03c9a9; 
    margin-left: 20%; 
    margin-top: 20%; 
    margin-right:20%; 
    border-radius: 2px;
}
.buttonRect:hover{ opacity: 1; }
.container{
    position: absolute;
    width:100%;
    height: auto;
    max-height: 72px;
    left:0px;
    z-index: 10;
}
.viewContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}
.overviewContainer{
    position: relative;
    width: 80%;
    height: 70%;
    max-width: 320px;
    max-height: 400px;
    text-align: center;
    font-family: "Lato-Regular";
}
.resultContainer{
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px 20px 10px 20px;
    margin-top:0px;
    margin-bottom:0px;
}
.resultMultiple{ position: absolute; }
.resultSingle{ position: relative; }
.overviewContainer p{ position: relative; }
.right{ right: 22%;}
.left{ left: 22%;}
.overview{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
}
.canBeAnimated{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.canBeAnimatedView{
    -webkit-transition: all 0.5s cubic-bezier(0, 1.1, 1, 1.05);
    transition: all 0.5s cubic-bezier(0, 1.1, 1, 1.05);
}
.topOut{
    -webkit-transform: translate3d(0px, -250%, 0px);
    transform: translate3d(0px, -250%, 0px);
}
.bottomOut{
    -webkit-transform: translate3d(0px, 250%, 0px);
    transform: translate3d(0px, 250%, 0px);
}
.rightOut{
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px);
}
.footer{ bottom:0px; border-top-style: solid; border-top-width: 1px; }
.darkBorder{ border-color: #607282; }
.darkFont{ color: #607282; }
.blueBorder{ border-color: #19b5fe; }
.blueFont{ color: #19b5fe; }
.lightGrayBorderColor{ border-color: #b2b9c1; }
.lightGrayFont{ color: #f7f8f9; }
.ultraLightGrayBorder{ border-color: #dfdfdf; }
.lightGrayBackground{ background-color: #f7f8f9; }
.greenFont{ color: #03c9a9; }
.redFont{ color: #f64747; }

@media screen and (max-height: 544px){
    .containerPadding{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .fontSizeButton { font-size: 14px; }
    .fontSizeLabelSmall { font-size: 8px; }
    .fontSizeLabelBig { font-size: 14px; }
    .colorBox{
        position: relative; 
        width:15px; 
        height:15px; 
        border-style:solid; 
        border-radius:4px; 
        border-width: 1px; 
        top:5px;
    }
    .logoHeader img{ height: 27px; }
    .resultSize{ width: 100px; height: 28px;}
    .statisticTitle{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (min-height: 544px){
    .containerPadding{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .fontSizeButton { font-size: 20px; }
    .fontSizeLabelSmall { font-size: 12px; }
    .fontSizeLabelBig { font-size: 20px; }
    .colorBox{
        position: relative; 
        width:20px; 
        height:20px; 
        border-style:solid; 
        border-radius:6px; 
        border-width: 2px; 
        top:10px;
    }
    .logoHeader img{ height: 36px; }
    .resultSize{ width: 150px; height: 40px;}
    .statisticTitle{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


