@font-face {
    font-family: Lato-Bold;
    src: url('./font/Lato-Bold.tff');
}
@font-face {
    font-family: Lato-Regular;
    src: url('./font/Lato-Regular.tff');
}
@font-face {
    font-family: Lato-Light;
    src: url('./font/Lato-Light.tff');
}
html {
    background-color: #fff;
    color: #000;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.body{ overflow: hidden; }
.double-sided { -webkit-backface-visibility: visible; backface-visibility: visible; }
canvas{  position:absolute; bottom:0px; left:0px; }
.marginAuto{ margin-left: auto; margin-right: auto; }
.noMargin{ margin: 0 0 0 0; }
.buttonRect {
    position: relative;
    width: 100%;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-family: "Lato-Regular";
    opacity: 0.5;
}
.label{
    position: absolute;
    width: auto !important;
    font-family: "Lato-Regular";
    opacity: 0.5;
    width: 50%;
    list-style: none;
    text-align: center !important ;
}
.label p{ margin: 0px 0px 0px 0px; }
.curColor{
    width:60%; 
    height:60%; 
    background-color: #03c9a9; 
    margin-left: 20%; 
    margin-top: 20%; 
    margin-right:20%; 
    border-radius: 2px;
}
.buttonRect:hover{ opacity: 1; }
.container{
    position: absolute;
    width:100%;
    height: auto;
    max-height: 72px;
    left:0px;
    z-index: 10;
}
.canBeAnimated{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.topOut{
    -webkit-transform: translate3d(0px, -250%, 0px);
    transform: translate3d(0px, -250%, 0px);
}
.bottomOut{
    -webkit-transform: translate3d(0px, 250%, 0px);
    transform: translate3d(0px, 250%, 0px);
}
.footer{ bottom:0px; border-top-style: solid; border-top-width: 1px; }
.darkBorder{ border-color: #607282; }
.darkFont{ color: #607282; }
.blueBorder{ border-color: #19b5fe; }
.blueFont{ color: #19b5fe; }
.lightGrayBorderColor{ border-color: #b2b9c1; }
.lightGrayFont{ color: #f7f8f9; };
.lightGrayBackground{ background-color: #f7f8f9; }
.greenFont{ color: #03c9a9; }


@media screen and (max-height: 544px){
    .containerPadding{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .fontSizeButton { font-size: 14px; }
    .fontSizeLabelSmall { font-size: 8px; }
    .fontSizeLabelBig { font-size: 14px; }
    .colorBox{
        position: relative; 
        width:15px; 
        height:15px; 
        border-style:solid; 
        border-radius:4px; 
        border-width: 1px; 
        top:5px;
        opacity: 0.5;
    }
    .logoHeader img{
        height: 27px;
    }
}

@media screen and (min-height: 544px){
    .containerPadding{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .fontSizeButton { font-size: 20px; }
    .fontSizeLabelSmall { font-size: 12px; }
    .fontSizeLabelBig { font-size: 20px; }
    .colorBox{
        position: relative; 
        width:20px; 
        height:20px; 
        border-style:solid; 
        border-radius:6px; 
        border-width: 2px; 
        top:10px;
    }
    .logoHeader img{
        height: 36px;
    }
}


